.container

  %table.table.table-condensed.table-striped
    %thead
      %tr
        %td Rank
        %th User
    %tbody
      - @players.each_with_index do |player, i|
        %tr
          %td= "##{i+1}"
          %td
            %a{:href=>"/players/#{player.id}"}= player.user
