.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{:href => '/'} Ranked
			.nav-collapse
				%ul.nav
					%li{:class => link_class("/results")}
						%a{:href => '/results'}Results
				%ul.nav.pull-right
					%li
						%a= @user.user