.container

  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th User
    %tbody
      - @players.each do |player|
        %tr
          %td
            %a{:href=>"/players/#{player.id}"}= player.user