%table.table.table-condensed.table-striped
  %thead
    %tr
      %th At
      %th Winner
      %th Loser
  %tbody
    - @results.each do |result|
      %tr
        %td= result.at
        %td
          %a{:href=>"/players/#{result.winner_id}"}= result.winner_name
        %td
          %a{:href=>"/players/#{result.loser_id}"}= result.loser_name
