.container

  %form.form-inline{:method=>"post", :action=>"/results"}
    %select{:name=>"winner_id"}
      - Ranked::Player.all.each do |player|
        - next if player == @user
        %option{:value=>player.id}= player.user

    %input.btn.btn-primary{:type=>"submit", :value=>"Beat me"}

  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th At
        %th Winner
        %th Loser
    %tbody
      - @results.each do |result|
        %tr
          %td= result.at
          %td= result.winner_user
          %td= result.loser_user