%table.table.table-condensed.table-striped
  %thead
    %tr
      %th At
      %th Winner
      %th Loser
  %tbody
    - @results.each do |result|
      %tr
        %td= result.time
        %td
          %img{:src=> result.winner.gravatar}
          %a{:href=>"/players/#{result.winner_id}"}= result.winner.display_name
        %td
          %img{:src=> result.loser.gravatar}
          %a{:href=>"/players/#{result.loser_id}"}= result.loser.display_name
