.container

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th At
      %th Winner
      %th Loser
  %tbody
    - @results.each do |result|
      %tr
        %td= result.at
        %td= result.winner_user
        %td= result.loser_user